#container{
    position: relative;
    top: 100px;
    left: 25%;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    background-color: rgb(199, 166, 230);
    
}
button{
    background-color: rgb(238, 97, 214);
    padding: 10px;
    border: none;
    margin: 5px;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(1, 1, 12);
}
